body{
    background-color: grey;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    image-rendering: optimizeQuality;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.question{
    background-color: black;
    color: white;
    width: 450px;
    height: 150px;
    border-radius: 15px;
    text-align: center;
    display: inline-block;
    top: 100px;
}

.topbar {
    background-color: darkgrey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 400px;
    border-radius: 15px;
  }

  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.answerbutton{
    background-color: grey;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 40px;
    border-radius: 15px;
}
.answerbutton:hover{
    background-color: red;
}

.bottomtext{
    background-color: none;
    color: white;
    text-shadow: rgba(255, 0, 0, 1) 2px 2px;
}
.bottomtext:hover{
    background: linear-gradient(red,orange);
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
}

.menutext{
    background-color: none;
    text-shadow: rgba(255, 0, 0, 1) 2px 2px;
    color: white;
    background-color: grey;
}
.menutext:hover{
    background: linear-gradient(red,orange);
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
    box-shadow: rgba( 0, 0, 0, 1) 2px 2px;
    transform: translateX(10px);
}

.dropdown {
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    background-color: darkgrey;
    border-radius: 15px;
}
  
.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 2;
    background-color: darkgrey;
    border-radius: 15px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

#dropbutton{
    background-color: darkgrey;
    color: white;
}
#dropbutton:hover{
    background-color: white;
    color: black;
}