body{
    /*background-color: grey;*/
    background: linear-gradient(red,blue) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    image-rendering: optimizeQuality;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

input{
    background: rgba(46, 46, 46, 0.5);
    box-shadow: rgba(0,0,0,0.75)5px 5px 5px;
    border: none;
    outline: none;
    height: 100px;
    font-size: 75px;
    color: white;
    border-radius: 15px;
} input:hover{
    box-shadow: rgba(255, 123, 0, 0.75) 5px 5px 5px 5px; 
}

textarea{
    background: rgba(46, 46, 46, 0.5);
    box-shadow: rgba(0,0,0,0.75)5px 5px 5px;
    border: none;
    outline: none;
    font-size: 50px;
    color: white;
    border-radius: 15px;
    resize: none;
  }

  h1{
      text-align: center;
  }

  button{
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 50px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  
    button:hover {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }

a {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    text-align: center;
    transition: 0.3s;
    font-size: 50px;
    background: rgba(0, 0, 0, 0);
    color: white;
  }
  
  a:hover {
    background: linear-gradient(red,orange);
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 3px 3px;
    box-shadow: rgba(255, 123, 0, 0.75) 5px 5px 5px 5px; 
    transform: scale(1.25);
    border-radius: 15px;
  }
  
  a.active {
    background: rgba(50, 50, 50, 0.5);
  }

.question{
    width: 100%;
    height: 250px;
    margin: 10px;
    top: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: rgba(255, 255, 255, 0.5) 5px 5px 5px;
    text-align: center;
    border-radius: 15px;
    display: inline-block;
}

object{
    color: white;
}

.elmcontain{
    width: 60%;
    position: absolute;
    margin: 10px;
    top: 10%;
    left: 20%;
    text-align: center;
}



#socialpostbutt{
    position: fixed; 
    top:0; 
    right:0; 
    margin-right: 20px; 
    font-size: 50px;
    z-index: 101;
    text-align: center;
    margin-top: 10px;
}
#socialpostbutt:hover{
    background: linear-gradient(red, blue);
    border-radius: 15px;
}

.forumpost{
    background-color: black;
    color: white;
    width: 450px;
    height: 200px;
    border-radius: 15px;
    text-align: left;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, .5) 0px 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

.aboutpost{
    position: absolute;
    width: 80%;
    margin: 10px;
    top: 10%;
    left: 10%;
    color: white;
    background: rgba(0,0,0,0.75);
    box-shadow: rgba(0,0,0,0.5) 5px 5px 5px;
    text-align: center;
    border-radius: 15px;
}


.forumheader{
    background-color: red;
    overflow: hidden;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    text-align: left;
    display: inline-block;
}


#finishbutton{
    background-color: grey;
    color: white;
    height: 100px;
    width: 200px;
    font-size: 40px;
    border-radius: 15px;
}

.topbar {
    background-color: grey;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, .5) 5px 5px;
    z-index: 9px;
}

.navbar {
    background-color: black;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 210px;
  }

  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
  }

.trending {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 100px;
    right: 0;
    width: 200px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .5) 5px 5px;
    color: white;
  }

  .trending a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }


.scoretracker {
    background: linear-gradient(red, blue);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 400px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, .5) -5px 5px;
  }

  .scoretracker a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

#scoretxt1{
    color: white;
}

#scoretxt2{
    color: white;
}

#espectrumside{
    color: white;
}

#pspectrumside{
    color: white;
}

#economicaxis{
    display: none;
    background: linear-gradient(red, blue);
    border-radius: 15px;
    width: 400px;
}

#politicalaxis{
  display: none;
  background: linear-gradient(red, blue);
  border-radius: 15px;
  width: 400px;
}

.answerbutton{
    background-color: grey;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 40px;
    border-radius: 15px;
}
.answerbutton:hover{
    background-color: red;
}

.bottomtext{
    background-color: none;
    color: white;
    text-shadow: rgba(255, 0, 0, 1) 2px 2px;
}
.bottomtext:hover{
    background: linear-gradient(red, blue);
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
}

.menutext{
    background-color: none;
    font-size: 20px;
    color: white;
    text-align: center;
    width: 75%;
}
.menutext:hover{
    background: linear-gradient(red,blue);
    color: white;
    text-shadow: rgba(0, 0, 0, 1) 2px 2px;
    box-shadow: rgba(255, 255, 255, 0.75) 2px 2px 2px 2px; 
    transform: scale(1.25);
}

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10px;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    display: block;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}

#dropbutton{
    color: white;
}
#dropbutton:hover{
    color: black;
}